In [64]:
import pandas as pd
import numpy as np
# importing the requied lib's

In [65]:
df = pd.read_csv('datasets/Flipkart_mobile_brands_scraped_data.csv')
df.head(10)

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990.0,15990.0
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990.0,15990.0
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990.0,17990.0
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990.0,17990.0
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990.0,15990.0
5,OPPO,A53,Electric Black,6 GB,128 GB,4.3,13990.0,17990.0
6,OPPO,A12,Deep Blue,4 GB,64 GB,4.4,10490.0,11990.0
7,OPPO,A12,Black,3 GB,32 GB,4.4,9490.0,10990.0
8,OPPO,A12,Blue,3 GB,32 GB,4.4,9490.0,10990.0
9,OPPO,A12,Flowing Silver,3 GB,32 GB,4.4,9490.0,10990.0

In [66]:
to_drop = ['Original Price']


df.drop(to_drop, inplace=True, axis=1)

In [67]:
df.head()

  Brand Model            Color Memory Storage  Rating  Selling Price
0  OPPO   A53  Moonlight Black   4 GB   64 GB     4.5        11990.0
1  OPPO   A53       Mint Cream   4 GB   64 GB     4.5        11990.0
2  OPPO   A53  Moonlight Black   6 GB  128 GB     4.3        13990.0
3  OPPO   A53       Mint Cream   6 GB  128 GB     4.3        13990.0
4  OPPO   A53   Electric Black   4 GB   64 GB     4.5        11990.0

In [68]:
df['Selling Price'].is_unique

False

In [69]:
df['Index'] = range(1, len(df) + 1)
df.head()

  Brand Model            Color Memory Storage  Rating  Selling Price  Index
0  OPPO   A53  Moonlight Black   4 GB   64 GB     4.5        11990.0      1
1  OPPO   A53       Mint Cream   4 GB   64 GB     4.5        11990.0      2
2  OPPO   A53  Moonlight Black   6 GB  128 GB     4.3        13990.0      3
3  OPPO   A53       Mint Cream   6 GB  128 GB     4.3        13990.0      4
4  OPPO   A53   Electric Black   4 GB   64 GB     4.5        11990.0      5

In [70]:
df['Index'].is_unique

True

In [71]:
df.head()

  Brand Model            Color Memory Storage  Rating  Selling Price  Index
0  OPPO   A53  Moonlight Black   4 GB   64 GB     4.5        11990.0      1
1  OPPO   A53       Mint Cream   4 GB   64 GB     4.5        11990.0      2
2  OPPO   A53  Moonlight Black   6 GB  128 GB     4.3        13990.0      3
3  OPPO   A53       Mint Cream   6 GB  128 GB     4.3        13990.0      4
4  OPPO   A53   Electric Black   4 GB   64 GB     4.5        11990.0      5

In [72]:
df = df.set_index('Index')
df.head()

      Brand Model            Color Memory Storage  Rating  Selling Price
Index
1      OPPO   A53  Moonlight Black   4 GB   64 GB     4.5        11990.0
2      OPPO   A53       Mint Cream   4 GB   64 GB     4.5        11990.0
3      OPPO   A53  Moonlight Black   6 GB  128 GB     4.3        13990.0
4      OPPO   A53       Mint Cream   6 GB  128 GB     4.3        13990.0
5      OPPO   A53   Electric Black   4 GB   64 GB     4.5        11990.0

In [73]:
df.loc[1]

Brand                       OPPO
Model                        A53
Color            Moonlight Black
Memory                      4 GB
Storage                    64 GB
Rating                       4.5
Selling Price            11990.0
Name: 1, dtype: object

In [75]:
df.head()

      Brand Model            Color Memory Storage  Rating  Selling Price
Index
1      OPPO   A53  Moonlight Black   4 GB   64 GB     4.5        11990.0
2      OPPO   A53       Mint Cream   4 GB   64 GB     4.5        11990.0
3      OPPO   A53  Moonlight Black   6 GB  128 GB     4.3        13990.0
4      OPPO   A53       Mint Cream   6 GB  128 GB     4.3        13990.0
5      OPPO   A53   Electric Black   4 GB   64 GB     4.5        11990.0

In [80]:
df.loc[1:, 'Storage'].head(10)

Index
1      64 GB
2      64 GB
3     128 GB
4     128 GB
5      64 GB
6     128 GB
7      64 GB
8      32 GB
9      32 GB
10     32 GB
Name: Storage, dtype: object